.image {
  float: left;
  width: 32%;
  border-radius: 20px 0px 0px 20px;
}

.news_card {
  width: 50%;
  height: 60%;
  padding: 0px;
}

.heading {
  font-size: 2rem;
  float: left;
  margin: 0px;
  margin-left: 20px;
  margin-bottom: 5px;
}

.description {
  display: inline-block;
  margin: 0px;
}

.link {
  text-decoration: none;
}

.text{
  display: flex;
  flex-direction: column;
}