.image{
    height: 60%;
    margin: 0px;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
}

.title{
    margin: 20px;
    margin-bottom: 0px;
    font-size: 2rem;
    color: #007f5f;
    font-family: 'Pacifico', cursive;
}

.ProductCard{
    margin: 50px;
    padding: 0px;
    height: 35rem;
    text-align: center;
    width: 23%;
    border: 1px solid #007f5f;
}

.description{
    font-size: 13px;
    margin: 10px 20px;
    color: grey;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.price{
    color: #007f5f;
    font-family: 'Pacifico', cursive;
    font-size: 1.5rem;
}